.lor{font-size: 2rem;}
.multichnl-img {
    position: relative;
    width: 530px;
    z-index: 1;
}
.cust-seg {
position: absolute;
width: 500px;
bottom: 35px;
right: -20px;
z-index: 2;
}.cstmr-img-sec {
/* max-width: 960px; */
position: relative;
margin: 0 auto;
text-align:center;
}
img {
    vertical-align: bottom;
    }
    .zw-template-inner *, .zw-template-inner :after, .zw-template-inner :before {
        box-sizing: content-box;
        }
/*positioning imgs*/
.melinda-img {
position: absolute;
width: 240px;
top: 150px;
left: 0;
}
.twiter-img {
position: absolute;
width: 305px;
top: 140px;
right: 0;
}.best-cimg {
position: absolute;
width: 255px;
bottom: 85px;
left: 40px;
}.cust-seg {
position: absolute;
width: 500px;
bottom: 35px;
right: 20px;
z-index: 2;
}
.customer-main-rlsec {
max-width: 1280px;
margin: 0 auto;
width: 100%;
padding: 130px 30px 0;
box-sizing: border-box;
color: #fff;
text-align: center;
}
@media screen and (max-width: 575px) {
    .multichnl-img{width: 100%;height: auto;}
    .melinda-img,.twiter-img,.best-cimg,.cust-seg {width: 50%;height: auto;}
}


 
  
    
