.lor{font-size: 2rem;}

  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.head{color:rgb(218, 213, 213);text-align: center;font-family: 'Source Code Pro', monospace;    font-size: 2rem;
  font-weight: 700;}
body{background-image: url("../dashbg.webp");}
body[data-aos-duration='350'] [data-aos],
[data-aos][data-aos][data-aos-duration='350'] {
  transition-duration: 350ms;
}
body[data-aos-duration='700'] [data-aos],
[data-aos][data-aos][data-aos-duration='700'] {
  transition-duration: 700ms;
}
body[data-aos-duration='1050'] [data-aos],
[data-aos][data-aos][data-aos-duration='1050'] {
  transition-duration: 1050ms;
}
body[data-aos-duration='1400'] [data-aos],
[data-aos][data-aos][data-aos-duration='1400'] {
  transition-duration: 1400ms;
}
.multichnl-img {
    position: relative;
    width: 530px;
    z-index: 1;
}
.cust-seg {
position: absolute;
width: 500px;
bottom: 35px;
right: -20px;
z-index: 2;
}.cstmr-img-sec {
/* max-width: 960px; */
position: relative;
margin: 0 auto;
text-align:center;
}
img {
    vertical-align: bottom;
    }
    .zw-template-inner *, .zw-template-inner :after, .zw-template-inner :before {
        box-sizing: content-box;
        }
/*positioning imgs*/
.melinda-img {
  position: absolute;
  width: 240px;
  top: 94px;
  left: 119px;
}
.twiter-img {
  position: absolute;
  width: 305px;
  top: 6px;
  right: 117px;
}.best-cimg {
  position: absolute;
  width: 255px;
  bottom: 158px;
  left: 167px;
  z-index: 1;
}.cust-seg {
  position: absolute;
  width: 500px;
  bottom: 35px;
  right: 20px;
  z-index: 2;
}
.customer-main-rlsec {
max-width: 1280px;
margin: 0 auto;
width: 100%;
padding: 130px 30px 0;
box-sizing: border-box;
color: #fff;
text-align: center;
}
/* @media screen and (max-width: 575px) {
    .multichnl-img{width: 100%;height: auto;}
    .melinda-img,.twiter-img,.best-cimg,.cust-seg {width: 50%;height: auto;}
} */
@media only screen and (max-width: 992px){
.twiter-img {
    
  width: 30%;
  top: 1%;
  right: 12%;

}
.melinda-img {
  width: 25%;
  top: 16%;
    left: 5%;
}
.best-cimg {
  width: 25%;
  bottom: 62px;
  left: 17%;
}
.cust-seg {
  width: 50%;
  bottom: 20px;
  right: 0;
}
}
@media only screen and (max-width: 992px){
.multichnl-img {
    width: 50%;
}}
  
    
